@model IEnumerable<FirstWebApplication.Models.Person>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
</head>
<body>
    
    <div><a href="Home/About">О программе</a></a></div>
    <div>Записи в телефонной книге:</div>
    <table>
        <tr>
            <td>Имя</td>
            <td>Номер телефона</td>
        </tr>

        <!--Для каждй записи из таблицы 'Persons' создается данная форма-->
        @foreach (FirstWebApplication.Models.Person p in Model)
         {
            <!--При нажатии любой из кнопок в данной форме вызывается метод 'MyAction'-->
            using (Html.BeginForm("MyAction", "Home", FormMethod.Post))
            {
                <tr>
                    <!--Имя-->
                    <td>@p.Name</td>

                    <!--Номер телефона-->
                    <td>@p.Number</td>
                    <td><button name="action" value="edit">Редактировать</button></td>    

                    <!--Кнопки удалить и редактировать-->
                    <td><button name="action" value="delete">Удалить</button></td>

                    <!--Скрытое поле с записью идентификатора-->
                    <td><input type="hidden" name="Id" value=@p.Id /></td>
                </tr>
                
            }
             
         }
    </table>

    <!--Форма для кнопки добавления и вызова метода 'AddForm'-->
    @using (Html.BeginForm("AddForm", "Home", FormMethod.Post))
     {
        <input type="submit" value="Добавить"/>
     }
    
</body>
</html>

